@import "tailwindcss";

.theme-light {
  background-color: #ffffff;
  color: #000000;
}

.theme-dark {
  background-color: #121212;
  color: #ffffff;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  transition: background-color 0.3s, color 0.3s;
}